<%- include('templates/header') %>

<h1>ACTUALIZAR INSTALACIONES</h1>
<form action="/admin/crear" method="post" id="formulario">

    <label>Escriba la instalacion para actualizar</label>
    <input type="text" name="titulo" id="titulo" >
    <label>Escriba la descripcion de la instalacion para actualizar</label>
    <textarea name="descripcion" id="descripcion" ></textarea>


    <button type="submit">Enviar</button>

</form>


<%- include('templates/footer') %> 