<%- include('templates/header') %>

<h1>ELIMINAR INSTALACIONES</h1>
<form action="/admin/crear" method="post" id="formulario">

    <label>Escriba la instalacion que desea eliminar</label>
    <input type="text" name="titulo" id="titulo" >
  
    <button type="submit">Enviar</button>

</form>


<%- include('templates/footer') %> 