<%- include('templates/header') %>

<form action="">
    
    <input type="text" name="instalacion" id="instalacion">
    <textarea name="descripcionText" id="descripcionText" cols="30" rows="10"></textarea>
</form>
<button type="submit">Enviar</button>

<%- include('templates/footer') %>