
<%- include('templates/header') %>

<h1>Instalaciones</h1>

<% instalaciones.forEach(element => { %>
    <article>
        <h2>
           <%= element.titulo %> 
        </h2>
        <p>
            <%= element.descripcion %>
        </p>
    </article>
<% }) %>


<%- include('templates/footer') %>